<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- we puts content here -->
<nav class="navbar navbar-default">
<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Watch Your Back</a>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
  </ul>
</div>
</nav>

<div id="main">            
  <div></div>
</div>

